{% extends 'posts/base.html' %}
{% load urlify %}
{% load crispy_forms_tags %}
{% block title_block %}
{{instance.title}}
{% endblock %}

{% block body_block %}


<!--{{instance.content|urlify}}}-->
<!--<a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}">-->
<!--Share on Facebook-->
<!--</a>-->
<!--<a href='https://plus.google.com/share?url={{request.build_absolute_uri}}'>Share on G+</a>-->

<!--<a href="https://twitter.com/home?status={{instance.content|urlify}}%20{{request.build_absolute_uri}}">-->
<!--Share on Twitter-->
<!--</a>-->

<div>
    <p class="lead">Comments</p>

        <p>{{comment.content}}</p>
        <footer>via {{comment.user}} | {{comment.timestamp|timesince}} ago
            {% if comment.children.count > 0 %}| {{comment.children.count}} Comment{% endif %}
            | {% if comment.user == request.user %} <a href="{{ comment.get_delete_url }}" class="">Delete</a>{% endif %}
        </footer>
        <hr>
        <div>
            {% for child_comment in comment.children %}
            <blockquote>
                <p>{{child_comment.content}}</p>
                <footer>via {{child_comment.user}} | {{child_comment.timestamp|timesince}} ago </footer>
            </blockquote>
            {% endfor %}
            {% if request.user.is_authenticated %}
            <div class="row">
                <div class="col-md-6">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{comment_form|crispy}}
                        <input type="hidden" name="parent_id" value="{{comment.id}}">
                        <input type="submit" value="Reply" class="btn btn-default">
                    </form>
                    <hr>
                </div>
            </div>
            {% endif %}
        </div>

</div>



{% endblock %}
