{% extends 'posts/base.html' %}
{% load urlify %}
{% load crispy_forms_tags %}
{% block title_block %}
{{instance.title}}
{% endblock %}

{% block body_block %}

<div>
    <p class="lead">Comments</p>
    <div class="row">
        <div class="col-md-6">
            <form action="" method="POST">
                {% csrf_token %}
                <p>Are you sure to delete "{{object}}"</p>
                <input type="submit" class="btn btn-danger" name="" value="Confirm">
                <a href="{{object.get_absolute_url}}" class="btn btn-default">Cancel</a>
            </form>
            <hr>
        </div>
    </div>
</div>


{% endblock %}
