<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog | {% block title_block %} {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block extra_content %} {% endblock %}
</head>
<body>

<!--<div id="fb-root"></div>-->
<!--<script>(function(d, s, id) {-->
  <!--var js, fjs = d.getElementsByTagName(s)[0];-->
  <!--if (d.getElementById(id)) return;-->
  <!--js = d.createElement(s); js.id = id;-->
  <!--js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";-->
  <!--fjs.parentNode.insertBefore(js, fjs);-->
<!--}(document, 'script', 'facebook-jssdk'));</script>-->
{% include 'posts/navbar.html' %}
{% include "posts/messages_display.html" %}

<div class="container">
    <ol class="breadcrumb">
        {% if instance %}
        <li><a href="/">Posts</a></li>
        {% else %}
        <li class="active"><a href="">Posts</a></li>
        {% endif %}
        {% if instance %}
        <li class="active">{{ instance.title }}</li>
        {% endif %}
    </ol>
</div>

<div class="container">
    {% block body_block %}
    {% endblock %}
</div>
<script src="{% static 'js/marked.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>