{% extends 'posts/base.html' %}
{% load crispy_forms_tags %}
{% block title_block %}
create post
{% endblock %}
{% block extra_content %}
{{form.media}}
{% endblock %}

{% block body_block %}
<div class="col-md-8 col-md-offset-2">
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form | crispy}}
    <input class="btn btn-default" type="submit" value="Create Post">
</form>
</div>
{% endblock %}
