{% extends 'posts/base.html' %}
{% load urlify %}
{% load crispy_forms_tags %}
{% block title_block %}
{{instance.title}}
{% endblock %}

{% block body_block %}
{% if instance %}

<!--{{instance.content|urlify}}}-->
<!--<a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}">-->
<!--Share on Facebook-->
<!--</a>-->
<!--<a href='https://plus.google.com/share?url={{request.build_absolute_uri}}'>Share on G+</a>-->

<!--<a href="https://twitter.com/home?status={{instance.content|urlify}}%20{{request.build_absolute_uri}}">-->
<!--Share on Twitter-->
<!--</a>-->
<div class="row">
    <div class="col-md-12">
        <br>
        <h3 class="panel-title">{{instance.title}}</h3>
        <div>
          <small>Read time: {% if instance.read_time|time:"i" <= "01" %} 1 minute
              {% else %} {{ instance.read_time|time:"i" }} minutes {% endif %}</small>
            <br>
          <small>{{instance.timestamp |timesince}} ago</small>
          {% if instance.user.get_full_name %}
          <small>Author: {{instance.user.get_full_name}}</small>
          {% endif %}
          {% if instance.draft %}
          <br>
          <small style="color:darkred">Draft</small>
          {% endif %}
      </div>
        <hr>
    </div>
       {% if instance.image %}
      <div class="col-md-12">
          <img src="{{instance.image.url}}" class="img-responsive" alt="...">
      </div>
      {% endif %}
    <div class="col-md-12">
        <div class="content-markdown">
             {{instance.content}}
        </div>
    </div>
</div>
<div>
    <p class="lead">Comments</p>
    {% if request.user.is_authenticated %}
    <div class="row">
        <div class="col-md-6">
            <form action="" method="POST">
                {% csrf_token %}
                {{comment_form|crispy}}
                <input type="submit" value="Post Comment" class="btn btn-default">
            </form>
            <hr>
        </div>
    </div>
    {% endif %}
    {% for comment in comments %}
    <blockquote>
        <p>{{comment.content}}</p>
        <footer>via {{comment.user}} | {{comment.timestamp|timesince}} ago
            {% if comment.children.count > 0 %}| {{comment.children.count}} Comment{% endif %}
             <a href="" class="comment-reply-btn">| Reply</a>  <a href='{{ comment.get_absolute_url }}'>| Thread</a>
            | {% if comment.user == request.user %}  | <a href="{{ comment.get_delete_url }}" class="">Delete</a>{% endif %}

        </footer>
        <div class="comment-reply" style="display: none">
            {% for child_comment in comment.children %}
            <blockquote>
                <p>{{child_comment.content}}</p>
                <footer>via {{child_comment.user}} | {{child_comment.timestamp|timesince}} ago | <a href="{{ comment.get_delete_url }}" class="">Delete</a></footer>
            </blockquote>
            {% endfor %}
            {% if request.user.is_authenticated %}
            <div class="row">
                <div class="col-md-6">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{comment_form|crispy}}
                        <input type="hidden" name="parent_id" value="{{comment.id}}">
                        <input type="submit" value="Reply" class="btn btn-default">
                    </form>
                    <hr>
                </div>
            </div>
            {% endif %}
        </div>

    </blockquote>
     {% endfor %}
</div>
<!--<div class="row">-->
    <!--<div class="col-md-12">-->
        <!--<div class="fb-like"-->
         <!--data-href="{{request.build_absolute_uri}}"-->
         <!--data-layout="button_count" data-action="like"-->
         <!--data-size="small" data-show-faces="true" data-share="true">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-11 col-md-offset-1">-->
        <!--<div class="fb-comments"-->
         <!--data-href="{{request.build_absolute_uri}}"-->
         <!--data-numposts="5">-->

        <!--</div>-->
    <!--</div>-->
<!--</div>-->

{% endif %}

{% endblock %}
