{% if messages %}
<ul class="messges">
    {% for mgs in messages %}
    <li class="{{msg.tags}}">
        {% if "html_safe" in msg.tags %}
        {{msg|safe}}
        {% else %}
        {{msg}}
        {% endif %}
        {{msg}}
    </li>
    {% endfor %}
</ul>
{% endif %}