{% extends 'posts/base.html' %}
{% load staticfiles %}
{% block title_block %}
list
{% endblock %}

{% block body_block %}
<div class="row">
   <div class="col-md-8 col-md-offset-2">
       <form action="" method="GET" class="search-form">
           <div class="input-group">
               <input class="form-control" name="q" value="{{request.GET.q}}"
                      type="text" placeholder="Enter search">
                <span class="input-group-btn">
                      <input type="submit" class="btn btn-warning" value="Search">
                </span>
           </div>

       </form>
       <div class="text-center">
            <h2>List of Posts</h2>
        </div>
   </div>  
</div>

{% for obj in object_list %}
<div class="row post">
      <div class="col-md-8 col-md-offset-2">
        <div class="thumbnail">
            {% if obj.image %}
            <div class="col-md-5 text-center">
                <img src="{{obj.image.url}}" class="img-responsive" alt="...">
            </div>
            <div class="clearfix"></div>
            {% endif %}
          <div class="caption">
            <h3> <a href="{{obj.get_absolute_url}}">{{ obj.title }}</a></h3>
              <div>
                  <small>  {{ obj.timestamp|timesince }} ago</small>
                {% if obj.user.get_full_name %}
                <small>Author: {{obj.user.get_full_name}}</small>
                {% endif %}
                  <br>
                {% if obj.draft %}
                <small style="color:darkred">Draft,
                    {% if obj.publish > today %} Future Post {% endif %}
                </small>
                {% endif %}
              </div>
              <div class="content-markdown">
                {{ obj.content  |truncatechars_html:120}}
              </div>
            <p>
                <a href="{{obj.get_absolute_url}}"
                  class="btn btn-primary" role="button">Read More</a>
            </p>
          </div>
        </div>
      </div>
    <!--{% cycle "" "</div><hr><div class='row'>" %}-->
</div>

{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{request.Get.q}} {% endif %}"><<</a>
        {% endif %}

        <span class="current">
            P {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}"></a>
        {% endif %}
    </span>
</div>
{% endblock %}
