{% extends 'posts/base.html' %}
{% load crispy_forms_tags %}
{% block title_block %}
create post
{% endblock %}
{% block extra_content %}
{{form.media}}
{% endblock %}

{% block body_block %}
<div class="col-md-6 col-md-offset-3">
    <br>
    <br>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{ title }}</h3>
        </div>
        <div class="panel-body">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form | crispy}}
                <input class="btn btn-primary" type="submit" value="{{ title }}">
            </form>
        </div>
    </div>

</div>
{% endblock %}
